body {
    background-color: #fea49f;
    max-width: 80%;
    margin: 0 auto;
}

h1 {
    color: black;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 18px;
}

.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
